body {
  color: whitesmoke;
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#Main-navbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.Main-title {
  float: left;
  background-color: #222;
  width: 150px;
  height: 60px;
  text-decoration: none;
  text-align: center;
}
.Main-title-text {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 800;
  display: block;
  padding: 16px;
}
#clockspace {
  position: relative;
  top: 60px;
  width: 100%;
  height: 600px;
}
#clockbox {
  position: relative;
  top: 100px;
  margin: 0 auto;
  width: 300px;
  height: 150px;
  text-align: center;
}
#pomodoroclock {
  position: relative;
  font-size: 100px;
  display: block;
  padding: 17.5px;
  text-align: center;
}
#btnBox {
  text-align: center;
  position: relative;
  top: 105px;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  background-color: #444;
}

#btnBox button {
  color: #eeeeee;
  background-color: #7b7b7b;
  width: 80px;
  height: 50px;
  margin: 5px auto;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
#btnBox button:hover {
  background-color: #333;
  cursor: pointer;
}
#TimerAnime {
  position: relative;
  width: 300px;
  height: 300px;
  border: #eeeeee 1px solid;
  top: 150px;
  margin: 0px auto;
}
.AnimeBox {
  position: relative;
  margin: 0px auto;
  top: 25px;
  width: 250px;
  height: 250px;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-top: 10px solid #eeeeee00;
  border-radius: 10px;
  text-transform: uppercase;
  overflow: hidden;
}
.AnimeBox:before {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #3fabc3;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20%;
  animation: fill 30s infinite;
  z-index: 1;
}

.WaterAnime {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #3fabc3;
  left: 50%;
  transform: translateX(-25%);
  border-radius: 20%;
  animation: filled 30s infinite;
}
.WaterAnime2 {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #3fabc3;
  border-radius: 20%;
  animation: WaterAnime2 30s infinite;
}

.WaterAnime3 {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #3fabc3;
  border-radius: 20%;
  animation: WaterAnime3 30s infinite;
}

.WaterAnime4 {
  content: "";
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: #3fabc3;
  border-radius: 20%;
  animation: WaterAnime4 30s infinite;
}

@keyframes fill {
  from {
    top: 500px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes filled {
  from {
    top: 500px;
    transform: translateX(-25%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(-25%) rotate(360deg);
  }
}

@keyframes WaterAnime2 {
  from {
    top: 500px;
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes WaterAnime3 {
  from {
    top: 500px;
    transform: translateX(-25%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(-25%) rotate(360deg);
  }
}

@keyframes WaterAnime4 {
  from {
    top: 500px;
    transform: translateX(25%) rotate(0deg);
  }
  to {
    top: -50px;
    transform: translateX(25%) rotate(360deg);
  }
}
