body {
  color: whitesmoke;
  background-color: #444;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#Main-navbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.Main-title {
  float: left;
  background-color: #222;
  width: 150px;
  height: 60px;
  text-decoration: none;
  text-align: center;
}
.Main-title-text {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 800;
  display: block;
  padding: 16px;
}
#clockspace {
  position: relative;
  top: 60px;
  width: 100%;
  height: 600px;
}
#clockbox {
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 300px;
  height: 150px;
  text-align: center;
}
.pomodoroclock {
  position: relative;
  font-size: 100px;
  display: block;
  padding: 17.5px;
}
#btnBox {
  text-align: center;
  position: relative;
  top: 155px;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  background-color: #444;
}

#btnBox button {
  color: #eeeeee;
  background-color: #7b7b7b;
  width: 80px;
  height: 50px;
  margin: 5px auto;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
#btnBox button:hover {
  background-color: #333;
  cursor: pointer;
}
