body {
  background-color: #333;
}
.AnimeBox {
  position: relative;
  margin: 0px auto;
  top: 25px;
  width: 250px;
  height: 250px;
  border: 7px solid white;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
}
.WaterDrop {
  position: relative;
  background-color: #3fabc3;
  width: 12px;
  height: 12px;
  margin: 0px auto;
  top: -150px;
  border-radius: 5% 100% 100% 100%;
  transform: rotate(45deg);
  z-index: 1;
  animation: sizeup 5s linear infinite;
}

@keyframes sizeup {
  0% {
    width: 8px;
    height: 8px;
  }
  80% {
    width: 12px;
    height: 12px;
  }
  90% {
    top: -150px;
  }
  100% {
    top: 260px;
  }
}
